<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index</title>
</head>
<body>
    <h1>
        Welcome
    </h1>
    <form method="post">
      Text to review: <input name="textbox"/>
      <br/><br/>
      <button type="submit">Submit</button>
    </form>
    {% if data.textInput != "" %}
        <h3>analysis of text: {{ data.textInput }}</h3>
        <ol>
            <li>Polarity: {{ data.pol }}</li>
            <li>Subjectivity: {{ data.subj }}</li>
        </ol> 
    {% endif %}
    
</body>
</html>

