<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" 
    href="{{ url_for('static', filename='css/style.css') }}"> 
    <title>Try-It</title>
    <link rel="icon" type="image/x-icon" href="./static/css/logo.png">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
    <div class="topbar">
        <h1 class="titleheading">Sentiment Analysis Prototype</h1>
    </div>

    <nav id = "navBar">
        <p></p>
        <p></p>
        <div class="navItem"><a href="/">home</a></div>
        <div class="navItem"><p><b>try it</b></p></div>
        <p></p>
        <p></p>
    </nav>
    <section class="hero" id="hero">
        <div class = "inputContainer">
            <div class="hero-heading-container">
                <h1 class="hero-heading">Enter text to review</h1>
            </div>
            <br/>
            <form method="post" autocomplete="off">
                <textarea name="textbox" class="inputText" cols="80" > </textarea>
                <br/>
                <br/>
                <button class="submitButton" type="submit">Submit</button>
            </form>
        </div>

        
        {% if data.textInput != "" %}
        <div class="hero-container2">
            <div class="hero-heading-container">
                <h1 class="hero-heading hero-2-text">Analysis</h1>
            </div>
            <div class="hero-bodyText-container">
                <p class="hero-bodyText hero-2-text try-it-analysis-text">
                    Text: "{{data.textInput }}"<br><br>
                    Censored: {{data.filter}}<br><br>
                    <br><br>
                    Polarity: {{ data.pol }}<br><br>
                    Subjectivity: {{ data.subj }}<br><br>
                    <br><br>
                </p>
                <p class="hero-bodyText hero-2-text try-it-analysis-text">
                    Flagged Categories: </p><br>
                </p>
                <ul class="analysis-cats-list">
                    {% for i in data.cats %}
                    <li class="hero-bodyText hero-2-text try-it-analysis-text">{{ i }} </li>
                    {% endfor %}
                </ul>
                <br>
            </div>
        </div>
        {% else %}
        <div class="hero-container2">
            <div class="hero-heading-container">
                <h1 class="hero-heading hero-2-text">Analysis</h1>
            </div>
            <div class="hero-bodyText-container">
                <p class="hero-bodyText hero-2-text try-it-analysis-text">Enter text to get analysis</p>
            </div>
        </div>
        {%endif%}
    </section>
<script src="{{ url_for('static', filename='js/stickyNavBar.js') }}">
</script>
</body>
